# Required to run your project under the correct environment.
language: php

# Versions of PHP you want your project run with.
php:
  - 5.5

# Commands to be run before your environment runs.
before_script:
#  - composer self-update
#  - composer install --prefer-source --no-interaction --dev


# allow_failures: Allow this build to fail under the specified environments.
# fast_finish: If your build fails do not continue trying to build, just stop.
matrix:
  allow_failures:
  fast_finish: true

# Customize when the notification emails are sent.
notifications:
    on_success: never
    on_failure: never